<!-- todolist -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.js"></script>
    <title>todolist</title>
</head>
<body>
    <!-- v-model实现数据双向绑定 -->
    <div id="app">
        <input type="text" v-model="inputValue" />
        <button v-on:click="handleBtn">提交</button>
        <ul>
            <li v-for="item in list">{{ item }}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                list: ['第一部分', '第二部分']
            },
            methods: {
                handleBtn: function() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
            }
        })
    </script>
</body>
</html>