<!-- 条件渲染 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <!-- 不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display。 -->
    <div id="app">
        <!-- if/else要连在一起 -->
        <div v-if="show === 'a'">a</div>
        <div v-else-if="show === 'b'">b</div>
        <div v-else>other</div>
        <div v-show="show">v-show</div>
        
        <div>
            <!-- 如果不加key会复用input -->
            <div v-if="show">
                用户名: <input key="username" />
            </div>
            <div v-else>
                地址: <input key="adress" />
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show: false
            }
        })
    </script>
</body>
</html>