<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.js"></script>
    <title>todolist</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue" />
        <button v-on:click="handleBtn">提交</button>
        <ul>
            <todo-list v-bind:content="item" v-for="item in list"></todo-list>
        </ul>
    </div>
    <script>
        // 关于组件的命名可以看官方文档
        // 使用v-bind来进行数据传输，props接收
        // 全局组件
        // Vue.component('todo-list', {
        //     props: ['content'],
        //     template: '<li>{{ content }}</li>'
        // })
        
        // 局部组件，需要注册到根实例
        var TodoList = {
            props: ['content'],
            template: '<li>{{ content }}</li>'
        }

        var app = new Vue({
            el: '#app',
            components: {
                'todo-list': TodoList
            },
            data: {
                inputValue: '',
                list: []
            },
            methods: {
                handleBtn: function() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
            }
        })
    </script>
</body>
</html>